
@{
    ViewBag.Title = "Index";
}

<h2>New Post file</h2>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Content/images/Avatar001.jpg" alt="...">
        </a>
    </div>
    <i class="fa fa-industry"></i>
    <span>ایمان هستم</span> 
    <br/>
   <a href="@Url.Action("Index","User")">link</a> 


</div>